openapi: "3.0.0"
info:
  version: "1.0.0"
  title: "Messdatenportal des Hessisches Landesamt für Naturschutz, Umwelt und Geologie"
  description: "Messdatenportal in Hessen (immissionskataster@hlnug.hessen.de)"
  contact:
    name: "Hessisches Landesamt für Naturschutz, Umwelt und Geologie"
    url: "https://www.hlnug.de"
    email: "immissionskataster@hlnug.hessen.de"

servers:
  - url: "https://app.hlnug.de/json/"

tags:
  - name: api
  - name: Luft
  - name: Wasser
  - name: Grundwasser
  - name: Radioaktivität

paths:
  /:
    get:
      operationId: GetAPI
      responses:
        "200":
          description: OK

      summary: "API"
      description: "Übersicht über die Themen der API"
      tags:
        - api

  /diskw/getStation/{stationId}:
    get:
      operationId: GetStation
      summary: Get station data.
      description: "Use any station ID to query for station information."
      tags:
        - api
      responses:
        "200":
          description: OK
      parameters:
        - in: path
          name: stationId
          schema:
            type: string
          required: true
          description: ID of the station
          examples:
            wasser:
              value: "394"
              summary: "Wasser: Darmbach, Darmstadt, Zulauf Grosser Woog"
            grundwasser:
              value: "11296"
              summary: "Grundwasser: Heusenstamm"
            radio:
              value: "DI01"
              summary: "Radioaktivität: Hamm Pumpwerk"

  /lmw/getThemeStations/1:
    get:
      operationId: GetLuftStationen
      tags:
        - Luft
      responses:
        "200":
          description: OK
      summary: Luftmessnetz
      description: "Alle Stationen des Luftmessnetzes."

  /lmw/getThemeStations/4:
    get:
      operationId: GetLuftFrankfurtFlughafenStationen
      tags:
        - Luft
      responses:
        "200":
          description: OK
      summary: Flughafen Frankfurt Luftdaten
      description: "Alle Stationen um den Flughafen Frankfurt."

  /lmw/getThemeStations/12:
    get:
      operationId: GetUltrafeinePartikelStationen
      tags:
        - Luft
      responses:
        "200":
          description: OK
      summary: Ultrafeine Partikel
      description: "Alle Stationen die ultrafeine Partikel messen."

  /lmw/getStationLatestData/{stationId}/{standardparameter}:
    get:
      operationId: GetStationLatestData
      summary: Get latest station data.
      description: "Gibt die letzten Daten einer Station zurück (ultrafeine Partikel)"
      responses:
        "200":
          description: OK
      tags:
        - Luft
      parameters:
        - in: path
          name: stationId
          schema:
            type: string
          required: true
          description: ID of the station
          examples:
            ultrafeine:
              value: "0406"
              summary: "Ultrafeine Partikel: Flörsheim"
            ffmflughafen:
              value: "1901"
              summary: "Frankfurt-Flughafen-Ost"
            luft:
              value: "0115"
              summary: "Luftnetz: Hügelstrasse Darmstadt"
        - in: path
          schema:
            type: array
            items:
              type: integer
          required: true
          name: standardparameter
          examples:
            ultrafeine:
              value: [14, 86, 87]
              summary: "Ultrafeine Partikel"
            ffmflughafen:
              value: [14, 15, 44]
              summary: "Flughafen Frankfurt Luftdaten"
            luftdaten:
              value: [14, 44, 83]
              summary: "Luftdaten"

  /wasser/getThemeStations/6:
    get:
      operationId: GetWasserStationen
      responses:
        "200":
          description: OK
      tags:
        - Wasser
      summary: "Fließgewässer"
      description: "Alle Stationen in Fließgewässern."

  /diskw/getStationLatestData/{stationId}/{standardparameter}:
    get:
      operationId: GetWasserStationLatestData
      summary: Get latest station data.
      description: "Gibt die letzten Daten einer Station zurück (Fließgewässer)"
      responses:
        "200":
          description: OK
      tags:
        - Wasser
      parameters:
        - in: path
          name: stationId
          schema:
            type: string
          required: true
          description: ID of the station
          example: "394"
        - in: path
          schema:
            type: array
            items:
              type: integer
          required: true
          name: standardparameter
          example: [63, 67, 55, 69, 110, 126, 138, 144]

  /grdw/getThemeStations/10:
    get:
      operationId: GetGrundwasserStationen
      responses:
        "200":
          description: OK
      tags:
        - Grundwasser
      summary: "Grundwasserstände (DFÜ)"
      description: "Alle Stationen, die Grundwasserstände messen."

  /grdw/getStationLatestData/{stationId}/{standardparameter}:
    get:
      operationId: GetGrundwasserStationLatestData
      summary: Get latest station data.
      description: "Gibt die letzten Daten einer Station zurück (Grundwasserstände)"
      responses:
        "200":
          description: OK
      tags:
        - Grundwasser
      parameters:
        - in: path
          name: stationId
          schema:
            type: string
          required: true
          description: ID of the station
          example: "11296"
        - in: path
          schema:
            type: array
            items:
              type: integer
          required: true
          name: standardparameter
          example: [106]

  /radio/getThemeStations/8:
    get:
      operationId: GetRadioaktivitaetStationen
      responses:
        "200":
          description: OK
      tags:
        - Radioaktivität

      summary: "Ortsdosisleistung Biblis"
      description: "Alle Stationen, die Radioaktivität messen. (Ortsdosisleistung Biblis)"

  /radio/getStationLatestData/{stationId}/{standardparameter}:
    get:
      operationId: GetRadioaktivitaetStationLatestData
      summary: "Ortsdosisleistung Biblis: Get latest station data."
      description: "Ortsdosisleistung Biblis"
      responses:
        "200":
          description: OK
      tags:
        - Radioaktivität
      parameters:
        - in: path
          name: stationId
          schema:
            type: string
          required: true
          description: ID of the station
          example: DI19
        - in: path
          schema:
            type: array
            items:
              type: integer
          required: true
          name: standardparameter
          example: [1, 2]

  /insitu/getThemeStations/16:
    get:
      operationId: GetRadioaktivitaetInsituStationen
      responses:
        "200":
          description: OK
      tags:
        - Radioaktivität

      summary: "Boden In-situ (Radioaktivität)"
      description: "Alle Stationen des Bereiches Boden In-situ (Radioaktivität)."

  /insitu/getStationLatestData/{stationId}/{standardparameter}:
    get:
      operationId: GetRadioaktivitaetInsituStationLatestData
      summary: "Boden In-situ (Radioaktivität): Get latest station data."
      description: "Gibt die letzten Daten einer Station zurück (Boden In-situ (Radioaktivität))"
      responses:
        "200":
          description: OK
      tags:
        - Radioaktivität
      parameters:
        - in: path
          name: stationId
          schema:
            type: string
          required: true
          description: ID of the station
          examples:
            darmstadt:
              value: "06411000"
              summary: "Station in Darmstadt"
        - in: path
          schema:
            type: array
            items:
              type: integer
          required: true
          name: standardparameter
          example: [178, 180, 182, 184, 152, 154, 156, 158]
